@model IndexPage
@{ 
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div class="container">
            <div class="row">
                <div class="col col-lg-8 text-center ">
                    <h2 class="text-center">@Model.TitleName</h2> <br />
                    <div>
                        <img src="~/Content/img/500x450.png" alt="icerik" /> 
                    </div>                    
                    <br />
                    @Html.Raw(Model.IndexDescription)
                </div>

                <div class="col col-lg-4 ">

                </div>
            </div>
        </div>

        

    </div>
</body>
</html>
