<div class="row">
    <div class="col">
        <a href="@Url.Action("Index", "Home", new { area = "Admin"})" target="_blank">
            Admin Anasayfa
        </a>
    </div>

    <div class="col">
        <a href="@Url.Action("Index", "About", new { area = "Admin"})" target="_blank">
            Admin Hakkında
        </a>
    </div>

    <div class="col">
        <a href="@Url.Action("Index", "Home", new {area = "" })" target="_blank">
            Anasayfa
        </a>
    </div>

</div>
